body {
  margin: 0;
  background-color: #1769aa;
}

ul[role="menu"] a {
  text-decoration: none;
  color: inherit;
}

.errorBg, .errorBg>div {
  background-color: #E64A19 !important;
}

.successBg, .successBg>div {
  background-color: #388E3C !important;
}

svg.social-svg {
  border-radius: 0 !important;
}

.menu-icon {
  margin-right: 5px;
}

.ReactCrop__drag-handle {
  width: 40px;
  height: 40px;
}

.file-size-caption {
  font-size: 0.8em;
  font-style: 'italic';
  color: #666
}

.battle-result img {
  border: 3px solid #CCC;
}

.overlay {
  outline: 100px solid transparent !important;
  outline-offset: -100px;
  overflow: hidden;
  position: relative;
}

.stats .overlay {
  outline-color: rgba(255, 100, 0, 0.2) !important;
}

.stats .battle-result-winner .overlay {
  outline-color: rgba(100, 255, 0, 0.2) !important;
}
