body {
  margin: 0;
  background-color: #4574ba;
}

ul[role="menu"] a {
  text-decoration: none;
  color: inherit;
}

.errorBg, .errorBg>div {
  background-color: #E64A19 !important;
}

.successBg, .successBg>div {
  background-color: #388E3C !important;
}
