body {
  margin: 0;
  background-color: #1769aa;
}

ul[role="menu"] a {
  text-decoration: none;
  color: inherit;
}

.errorBg, .errorBg>div {
  background-color: #E64A19 !important;
}

.successBg, .successBg>div {
  background-color: #388E3C !important;
}

svg.social-svg {
  border-radius: 0 !important;
}

.menu-icon {
  margin-right: 5px;
}

.ReactCrop__drag-handle {
  width: 40px;
  height: 40px;
}
