body {
  margin: 0;
  background-color: #4574ba;
}

ul[role="menu"] a {
  text-decoration: none;
  color: inherit;
}

img.lang_flag {
  margin-right: 5px;
}

.with-padding {
  padding: 0.5em;
}

#loading {
  text-align: center;
  margin-top: 25%;
}
